body{   /* u can give animation for full body as welll here*/
    width:100px;
    height:100px;
    background-color:rgb(238, 238, 231);
    animation-name:chnagecolor2;
    animation-duration:4s; 
    animation-iteration-count: 5;
    animation-play-state: running;
}
@keyframes chnagecolor2 {
    from 
    {
        background-color:rgb(4, 5, 5);
    }
    to{
        background-color:rgb(233, 12, 181);
    }
}


h1{
    animation-name:fadein;
     animation-name:fadeout;
    animation-duration:12s;
}
@keyframes fadein{
    0% {
        opacity:0;
    }
    1%{
        opacity:1;
    }
}

@keyframes fadeout{
    0% {
        opacity:1;
    }
    1%{
        opacity:0;
    }
}


.slidin {
    width:100px;
    height:100px;
    border:4px solid black;
    text-align:center;
color:black;
background-color:aqua;  
animation-duration:2s;
animation-name:slidin;
animation-delay:2s; 
animation-timing-function: ease-in-out;/* we have linear which stays same, ease-in, ease-out,ease-in-out */
animation-iteration-count:3;
 animation-fill-mode: forward; /* we have none, forward, backward, both */
/* animation: slidin 2s ease-in-out forwards; u can use only this if u cant write all those  */ 
}

@keyframes slidin {
    0% {
        transform:translate(100%);
        opacity:0;
        background-color: purple;
    }
    100% {
        transform: translate(0);
        opacity:1;
        background-color: paleturquoise;
    }
}


.div2 {
    width:100px;
    height:100px;
    background-color:yellow;
    animation-name:chnagecolor;
    animation-duration:4s; 
    animation-iteration-count: 4;
    animation-play-state: running;
}
@keyframes chnagecolor {
    0%    /* u can give in percentage as well from 0 to 25 to 50 to 75 to 100 as well */
    {
        background-color:red;
        opacity:0;
    }
    25%{
        background-color:rgb(145, 75, 160);
       
    }
     50%{
        background-color:rgb(80, 76, 81);
    }
     75%{
        background-color:rgb(128, 215, 146);
    }
     100%{
        background-color:rgb(227, 136, 26);
         opacity:1;
    }
}
