*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.cols1{
    
    height:300px;
    display:grid;
    /* gap:10px; this is for equaly give gap b/w the box but if u need diff gap b/w clos and rows */ 
    row-gap:10px;
    column-gap:40px;
   grid-template-columns: 1fr 1fr 100px auto; /* 1fr 1fr 1fr equal , 1fr 2fr 1fr only 2nd one get doubled  , and auto it will take automatically based on content,no of cols u can give , 
   wht ever u give in fr it can vary wht ever u give in px it is fixed and 1 fr is equal to 100px and whicle applying this colums make sure u will remove the width*/
   
}

.cols1 .item {
    height:50px;
    background-color: aqua;
    border:4px solid blue;
}

.rows2 {
    gap:20px;
    display:grid;
    gap:10px 20px;
    grid-template-columns: 1fr 200px 2fr ;
    grid-template-rows:2fr 1fr 6fr;
}

.rows2 .item {
    text-align:center;
    padding:30px;
    background-color: aqua;
    border:4px solid blue;
}

.merge2 {
    display:grid;
    gap:10px 20px;
    grid-template-columns: 1fr 200px 2fr ;
    grid-template-rows:2fr 1fr 6fr;

}

.merge2 div {
    text-align:center;
    padding:30px;
    background-color: rgb(254, 144, 237);
    border:4px solid rgb(24, 53, 216);
    
}

.item1{
     grid-column-start:1; /* or else we can give like this grid-column: 1/4  */
      grid-column-end: 4;
}
.item5{
    grid-column-start:1;
    grid-column-end:3;
   grid-row-start:3;
   grid-row-end:5;
}

.item6{
grid-row-start:3;
   grid-row-end:5;
}

.item7{
      grid-column-start:1;
      grid-column-end: 4;
}