* { /* this wont apply as its has the last priority 1st element,id,class and last universal, u can chcek for h2 its has changed */ 
    color:yellow;
}
h1{
    color:red;
}
p {
    color:blue;
}
#p4{ /* so here# is used when u want to use the id in css*/
background-color: green;
}

#heading {
    background-color:yellow;
}

.podd{ /* accessing the class is using .*/
    text-align:center;
}
.uline {
    text-decoration:underline;
}

p,h1 { /* group selector used like this with ,*/
    background-color:yellow;
}

