

.nav-links{
    list-style:none; /* so here if we give this it will remove the bullets */
    display:flex;
    justify-content:flex-left;
    gap:20px;
    margin:0;
    padding:0;
     position: absolute;
    font-size:1rem;
    bottom: 10px;   /* distance from bottom of header */
    right: 60px;     /* distance from left of header */
}
.nav-links li:not(:last-child)::after {
    content:"|";
    margin-left:10px;
    color:white;
}
.nav-links li a {
    color:white;
    font-size:1.1rem;
    transition:0.3s;
}
.nav-links li a:hover{
    color:#4B352A;
}

#header{
    width:100%;
    height:80px;
    display:flex;
    padding: 10px 20px;
    justify-content:center;
    align-items: center;
    color:rgb(253, 253, 252);
    background-color:rgb(185, 87, 17);
    border:5px double black;
     position: relative;  
}

#header h1{
    font-size:4rem;
}

#body {
  display: flex;                
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;             
  gap:20px;
  color:white;
}

.item {
  display: flex;     
  text-align: center;          
  flex-direction: column;       /* image on top, text below */
  align-items: center;          /* center content */
  gap: 20px;                    /* space between image and text */
  background-color: #4B352A;  
  padding: 15px;
  border-radius: 10px;
  color: white;
  width: 30%;                 /* fixed width for each card */
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  flex-wrap:wrap;
}

.item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.foot{
    display:flex;
    justify-content:center;
    background-color:#4B352A;
    color:white;
}